body{
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 90vh;
  margin:0;
}





header {
    text-align: center;
    font-family:Arial, sans-serif;
    color:black;
}


button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color:lightpink;
  color: black;
  transition: background-color 0.3s;
  width: 220px; /* Set a fixed width */
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}

button:hover {
  background-color:rgb(255, 151, 169);
}
